mixin footer
  .footer
    p Copyright © 2018 國立成功大學資訊工程系
    p 70101 台南市東區大學路一號｜
      a(href='http://www.csie.ncku.edu.tw/ncku_csie/intro/traffic') 系館位置地圖
    p 06-2757575 ext 62500
    a(herf='#') www-team@cs.ncku.edu
    img(src='../../static/src/hamburger.jpg')
    p 瀏覽人數：#{visitNumber}

